
.nav-item {
  opacity: 1;
}

.nav-item:hover {
  background-color: #B6C3D2;
  color: #FFF;
}

.nav-item-text {
  opacity: 1;
}

.nav-item-text:hover {
  color: #FFF;
}


body {
  background: url(/alola_region.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;;
  background-position: center;
  color: #FFF;
}



.App h2 {
  color: #fff;
}

.App h3 {
  color: #fff;
}

.ShowUser {
  color: #fff;
}
.BasePokeCard p {
  color: #fff;
}

/*THIS DOES WHAT JON WHATS BUT IT BREAKS THE EXIT ANIMATION*/


#InvPoke {
  width: 20%;
  border-style: solid;
  border-color: #60a79c;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #5E7390;
  border-radius: 15px;
  opacity: 1;
}

.PokeCard p {
  color: #fff;
}

.PokeForm label {
  color: #fff;
}

.PokeForm input {
  margin: 5px;
  /*width: 180px;*/
}

.PokeForm select {
  margin: 5px;
  /*width: 180px;*/
}

.PokeForm {
  width: 35%;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-color: #60a79c;
  padding: 10px;
  background-color: #5E7390;
  border-radius: 15px;
  opacity: ;
}

.newPokemon h3 {
  color: #FFF;
}


.NewPostForm label {
  color: #FFF;
}
.NewPostForm textarea {
  height: 113px;
  width: 558px;
  resize: none;
}

.ShowPost {
  color: #FFF;
}

#description {
  height: 300px;
  width: 200px;
}


/* ReactCSSTransitionGroup Animations */

.Login-Signup-appear {
  opacity: 0;
}

.Login-Signup-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

/*.Base-Pokemon-Card-enter {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
}

.Base-Pokemon-Card-enter-active {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 300ms;
}*/

.Base-Pokemon-Card-enter {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms, all ease-out 200ms;
}

.Base-Pokemon-Card-enter-active {
  display: inline-block;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  left: 500px;
  transition: opacity 300ms, all ease-out 300ms;
  transform: translateX(-500px);
}


.Base-Pokemon-Card-leave {
  display: inline-block;
  opacity: 0;
  transition: opacity 300ms, ease-out 600ms;
}

.Base-Pokemon-Card-leave-active {
  transition: opacity 300ms, all ease-out 600ms;
  transform: translateX(-500px);
}

/*.Pokemon-Card-enter {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
}

.Pokemon-Card-enter-active {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 300ms;
}*/

.Pokemon-Card-appear {
  opacity: 0;
}

.Pokemon-Card-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.Pokemon-Card-enter {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms, all ease-out 200ms;
}

.Pokemon-Card-enter-active {
  display: inline-block;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  left: 200px;
  transition: opacity 300ms, all ease-out 300ms;
  transform: translateX(-500px);

}

.Pokemon-Card-leave {
  transform: translate3d(0, 0, 0);
}

.Pokemon-Card-leave-active {
  transform: translate3d(-100%, 0, 0);
  transition: all ease-out 300ms;
}

/*----------------------------------------------*/
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.App {
  text-align: center;
}

.UserForm {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.LoginForm {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.SignSub {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: .5s;
}

.SignSub:hover {
  background-color: lightgreen; /* Green */
  color: white;
}

.DeleteButton {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: .5s;
}

.DeleteButton:hover {
  background-color: red;
  color: white;
}

.EditSub {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: .5s;
}

.EditSub:hover {
  background-color: lightgreen; /* Green */
  color: white;
}




.SubmitStyle {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: .5s;
}

.SubmitStyle:hover {
  background-color: lightgreen; /* Green */
  color: white;
}
