.carousel-enter {
  opacity: 0.01;
}

.carousel-enter.basePokeSprite-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.carousel-leave {
  opacity: 1;
}

.carousel-leave.basePokeSprite-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in all;
}
