.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.UserForm {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.LoginForm {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.SignSub {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: .5s;
}

.SignSub:hover {
  background-color: lightgreen; /* Green */
  color: white;
}

.EditSub {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: .5s;
}

.EditSub:hover {
  background-color: blue; /* Green */
  color: white;
}

.DeleteButton {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: .5s;
}

.DeleteButton:hover {
  background-color: red; /* Green */
  color: white;
}



.LogSub {
  -webkit-transition-duration: 1.0s; /* Safari */
    transition-duration: 1.0s;
}

.LogSub:hover {
  background-color: lightgreen; /* Green */
  color: white;
}
